:root {
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	--very-dark-blue: hsl(234, 12%, 34%);
	--grayish-blue: hsl(229, 6%, 66%);
	--very-light-gray: hsl(0, 0%, 98%);
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	background-color: var(--very-light-gray);
	color: var(--very-dark-blue);
}

main {
	margin: 3em;
}

#description {
	text-align: center;
	line-height: 1.5em;
	margin-bottom: 3em;
}

h1 {
	font-size: 1.5em;
	font-weight: 400;
	margin: 0;
}

#description h2 {
	margin: 0.5em;
	font-size: 1.5em;
}

#description p {
	color: var(--grayish-blue);

}

.card {
	color: var(--grayish-blue);
	border-radius: 5px;
	padding: 2em;
	margin: 3em 0;
	box-shadow: 0px 10px 20px 5px hsla(234, 12%, 34%, 0.1);
}

.cyan-card {
	border-top: 3.5px solid var(--cyan);
}

.red-card {
	border-top: 3.5px solid var(--red);
}

.orange-card {
	border-top: 3.5px solid var(--orange);
}

.blue-card {
	border-top: 3.5px solid var(--blue);
}

.card h2 {
	color: var(--very-dark-blue);
	margin: 0;
}

.card p {
	text-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.1);
	font-weight: 200;
	margin-bottom: 2em;
}

.card-icon {
	text-align: right;
}

#attribution {
	text-align: center;
	font-size: 12px;
}

@media (min-width: 457px) {
	main {
		margin: 3em auto;
		width: 50%;
	}
}

@media (min-width: 800px) {
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
	}

	#description {
		width: 70%;
		margin-bottom: 1.5em;
	}

	#cards {
		display: grid;
		grid-template-columns: repeat(3, 0.75fr);
		grid-template-rows: repeat(2, 0.75fr);
	}

	.card {
		margin: 0;
		transform: scale(0.9);
	}

	.orange-card {
		grid-column-start: 2;
	}

	.cyan-card, .blue-card {
		transform: translateY(50%);
	}

	.blue-card {
		grid-column-start: 3;
		grid-row-start: 1;
	}

	#attribution {
		font-size: inherit;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
}